$bgColor: #EEEEEE;
$orangColor: #FF5722;
$darkBlack: #000;
$mediumBlack: rgba($darkBlack, .80);
$lightBlack: rgba($darkBlack, .60);
$lighterBlack: rgba($darkBlack, .35);
$whiteColor: #fff;
$greyColor: #9E9E9E;


